[Settings]

## Enable Developer Tools
# Setting type: Boolean
# Default value: false
Enable Developer Tools = true

## Close the graphic user interface window when the game is loaded
# Setting type: Boolean
# Default value: false
Close Window When Game Loaded = false

## Close the graphic user interface window when the game closes
# Setting type: Boolean
# Default value: true
Close Window When Game Closes = false

## Enable the custom BepInEx GUI
# Setting type: Boolean
# Default value: true
Enable BepInEx GUI = true

