## Settings file was created by plugin BetterSpite v1.1.1
## Plugin GUID: HIFU.BetterSpite

[Artifact of Spite Changes]

## Vanilla is false
# Setting type: Boolean
# Default value: true
Enable? = true

## Vanilla is 7
# Setting type: Single
# Default value: 7.5
Explosion Radius = 7.5

## Vanilla is 1.5
# Setting type: Single
# Default value: 1.2
Damage Coefficient = 1.2

## Vanilla is 8
# Setting type: Single
# Default value: 4.5
Max Fuse Time = 4.5

## Vanilla is 3
# Setting type: Single
# Default value: 7
Spawn Radius = 7

## Vanilla is 4
# Setting type: Single
# Default value: 7
Spawn Radius Coefficient = 7

## Vanilla is 4
# Setting type: Single
# Default value: 16
Extra Bombs per Radius = 16

## Vanilla is 30
# Setting type: Int32
# Default value: 1000
Max Bomb Count = 1000

## Vanilla is 60
# Setting type: Single
# Default value: 500
Max Fall Distance = 500

## Vanilla is 8
# Setting type: Single
# Default value: 100
Max Step Up Distance = 100

## Vanilla is 0
# Setting type: Single
# Default value: 0
Scaling Explosion Radius = 0

## Vanilla is 0
# Setting type: Single
# Default value: 0.1
Scaling Damage Coefficient = 0.1

## Vanilla is 0
# Setting type: Single
# Default value: 0.1
Scaling Max Fuse Time = 0.1

## Vanilla is 0
# Setting type: Single
# Default value: 0.15
Scaling Spawn Radius = 0.15

## Vanilla is 0
# Setting type: Single
# Default value: 0.15
Scaling Spawn Radius Coefficient = 0.15

## Vanilla is 0
# Setting type: Single
# Default value: 0.15
Scaling Extra Bombs per Radius = 0.15

## Vanilla is 0
# Setting type: Int32
# Default value: 10
Scaling Max Bomb Count = 10

## Default is 0.4
# Setting type: Single
# Default value: 0.4
Minimum Fuse Time = 0.4

