[Effects]

## Reduce the visual effects of Contraband Gunpowder explosions
# Setting type: Boolean
# Default value: false
Reduce Contraband Gunpowder VFX = true

## Disable the sound effects of Contraband Gunpowder explosions
# Setting type: Boolean
# Default value: false
Disable Contraband Gunpowder SFX = false

## Adjust the intensity of Contraband Gunpowder explosion screenshake
# Setting type: Single
# Default value: 1
Contraband Gunpowder Screenshake = 0.5

[Enabled Equipment]

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Recruit an Archaic Wisp. Lasts 45 seconds.
# Setting type: Boolean
# Default value: true
Legendary Mask = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Use to toggle. While active, damage is 10x higher, BUT you die from any damage.
# Setting type: Boolean
# Default value: true
Fragile Mask = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Instantly teleport to the next stage. You will save some time, BUT lose out on items from unopened chests...
# Setting type: Boolean
# Default value: true
Gate Chalice = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Deafen enemies in front, heavily reducing their stats. Use mid-air to boost yourself backwards.
# Setting type: Boolean
# Default value: true
Vintage Microphone = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Swing in front, dealing more damage with each Critical Strike dealt during equipment cooldown.
# Setting type: Boolean
# Default value: true
Mechanical Arm = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Hack a chest or a shrine to make it free. Once per stage.
# Setting type: Boolean
# Default value: true
From Omar With Love = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Get 2 copies of a 3D Printer s item for free, then destroy the printer.
# Setting type: Boolean
# Default value: true
Wirehack Wrench = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Deploy a Siren Pole that simulates a Teleporter event.
# Setting type: Boolean
# Default value: true
Warning System = true

## Should this equipment be enabled? Changes to this value take effect only at the start of a run. Equipment description: Make the current health percentage of ALL nearby characters equal to yours.
# Setting type: Boolean
# Default value: true
Ratio Equalizer = true

[Enabled Items]

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Temporarily increase attack speed and damage when an ally is killed by an enemy.
# Setting type: Boolean
# Default value: true
Vendetta = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Less damage from attacks from behind.
# Setting type: Boolean
# Default value: true
Spine Implant = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: +1 charge to all skills.
# Setting type: Boolean
# Default value: true
Hiker s Backpack = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Gain an express boost until the next stage on item pickup. Stacks 3 times.
# Setting type: Boolean
# Default value: true
Cup of Expresso = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Buffs last longer, debuffs last shorter.
# Setting type: Boolean
# Default value: true
Choc Chip = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Periodically freezes all enemies during the Teleporter event.
# Setting type: Boolean
# Default value: true
Crystallized World = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Gain invincibility for a short time upon reaching low health. Recharges over time.
# Setting type: Boolean
# Default value: true
Timely Execution = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Critical Strikes mark enemies. Marked enemies share damage.
# Setting type: Boolean
# Default value: true
Ceremony of Perdition = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: You and your drones emit damaging sparks in combat.
# Setting type: Boolean
# Default value: true
Spare Wiring = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Killing an elite enemy spreads its elemental effect on nearby enemies.
# Setting type: Boolean
# Default value: true
Failed Experiment = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Creates explosions when collecting pickups.
# Setting type: Boolean
# Default value: true
Contraband Gunpowder = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: All Shrines can be used one more time.
# Setting type: Boolean
# Default value: true
Black Monolith = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Activating an interactable creates a healing orb.
# Setting type: Boolean
# Default value: true
Donut = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Increase health and armor depending on current gold.
# Setting type: Boolean
# Default value: true
Super Idol = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Unleash a barrage of slashes every 9 Critical Strikes.
# Setting type: Boolean
# Default value: true
Devil s Cry = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: You can buy an additional item at a Multishop Terminal with a discount (once per stage).
# Setting type: Boolean
# Default value: true
Platinum Card = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Reduce damage against 100 hits.
# Setting type: Boolean
# Default value: true
Cutesy Bow = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Slight armor increase.
# Setting type: Boolean
# Default value: true
Frayed Bow = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Increase random stat by 10%.
# Setting type: Boolean
# Default value: true
Manuscript = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Deal an extra instance of damage on hit. Upgrades at level 17.
# Setting type: Boolean
# Default value: true
Marwan s Ash = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Deal an extra instance of damage and inflict damage over time on hit. Upgrades at level 23.
# Setting type: Boolean
# Default value: true
Marwan s Light = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Deal damage and inflict damage over time to all surrounding enemies on hit.
# Setting type: Boolean
# Default value: true
Marwan s Weapon = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Increase Critical Strike damage... BUT halve Critical Strike chance. 
# Setting type: Boolean
# Default value: true
Moonglasses = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Killing strong enemies permanently increases damage.
# Setting type: Boolean
# Default value: true
Mystic Sword = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Speed up health regeneration for all allies... BUT speed up difficulty scaling. 
# Setting type: Boolean
# Default value: true
Puzzle of Chronos = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Use a non-Primary skill every 30s to rack up Critical Strike chance. Missing a beat resets the bonus.
# Setting type: Boolean
# Default value: true
Metronome = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Every stage contains rifts with free items... BUT you will die if you don t close the rifts in time. 
# Setting type: Boolean
# Default value: true
Rift Lens = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Slightly increase the odds of chance-based effects.
# Setting type: Boolean
# Default value: true
Scratch Ticket = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: The faster you move, the more damage you deal.
# Setting type: Boolean
# Default value: true
Nuclear Accelerator = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Increase critical strike chance against a random enemy by 100%.
# Setting type: Boolean
# Default value: true
Faulty Spotter = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Using a skill with cooldown reduces all other skill cooldowns.
# Setting type: Boolean
# Default value: true
Thought Processor = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Each stage contains a treasure spot with a buried Legendary item that takes some time to dig up.
# Setting type: Boolean
# Default value: true
Treasure Map = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Reflect taken damage to nearby enemies while shield is active.
# Setting type: Boolean
# Default value: true
Wireless Voltmeter = true

## Should this item be enabled? Changes to this value take effect only at the start of a run. Item description: Trigger all  On-Hit  effects every 10 hits.
# Setting type: Boolean
# Default value: true
Ten Commandments of Vyrael = true

[Misc]

## Enable secret optional content
# Setting type: Boolean
# Default value: true
Secrets = true

## Enable fun events that happen on specific dates
# Setting type: Boolean
# Default value: true
Fun Events = true

[Mod Compatibility]

## Make this mod's items show up on the Sniper added by the SniperClassic mod
# Setting type: Boolean
# Default value: true
Sniper Item Displays = true

[UI]

## Enable Metronome's UI indicator under the crosshair
# Setting type: Boolean
# Default value: true
Metronome UI (Under Crosshair) = true

## Enable Metronome's UI indicator over skill cooldown icons
# Setting type: Boolean
# Default value: true
Metronome UI (Over Skills) = true

## Enable the combo counter near Metronome's UI indicators
# Setting type: Boolean
# Default value: true
Metronome UI Combo Text = true

