[00. Core Modules]

## Enable drone and ally changes.
# Setting type: Boolean
# Default value: true
Ally Changes = true

## Enable item changes.
# Setting type: Boolean
# Default value: true
Item Changes = true

## Enable survivor changes.
# Setting type: Boolean
# Default value: true
Survivor Changes = true

## Enable enemy changes.
# Setting type: Boolean
# Default value: true
Monster Changes = true

## Enable spawnpool changes.
# Setting type: Boolean
# Default value: true
Spawnpool Changes = true

## Enable Moon changes.
# Setting type: Boolean
# Default value: true
Moon Changes = true

## Enable Void Locus changes.
# Setting type: Boolean
# Default value: true
Void Locus Changes = true

## Enable Void Fields changes.
# Setting type: Boolean
# Default value: true
Void Fields Changes = true

Spawnpool Changes (Beta) = false

[01. Game Mechanics]

## Remove the proc coefficient on most item effects.
# Setting type: Boolean
# Default value: true
Disable Proc Chains = true

## Shields gate against HP damage.
# Setting type: Boolean
# Default value: true
Shield Gating = true

## Makes OSP work against multihits.
# Setting type: Boolean
# Default value: true
True OSP = true

## Adds extra items to the AI Blacklist by default.
# Setting type: Boolean
# Default value: true
Expanded AI Blacklist = true

## Barrier decays slower at low barrier values.
# Setting type: Boolean
# Default value: true
Barrier Decay = true

## Teleporter expands to cover the whole map when the boss is killed.
# Setting type: Boolean
# Default value: true
Tele Expand on Boss Kill = false

## Enables teleporter expansion when playing on Eclipse 2+.
# Setting type: Boolean
# Default value: false
Tele Expand on Boss Kill - Enable During Eclispe = false

## Increases teleporter charge duration from 90s to 120s like RoR1.
# Setting type: Boolean
# Default value: false
Tele Charge Duration Increase = false

## Void/Moon Holdouts charge at max speed as long as 1 player is charging.
# Setting type: Boolean
# Default value: true
Small Holdout Charging = true

[02. Run Scaling]

## Multiply Combat Director credits by this amount. Set to 1 to disable
# Setting type: Single
# Default value: 1.4
Combat Director Credit Multiplier = 1.4

## Lowers gold earn rate scaling. Mainly makes a difference when looping.
# Setting type: Boolean
# Default value: true
Gold Scaling Tweaks = true

## Lowers the effect of playercount on difficulty scaling. Geared towards large lobbies.
# Setting type: Boolean
# Default value: true
Scaling: Modded Scaling = true

## Makes difficulty scaling linear like in RoR1. Requires Modded Scaling to be enabled.
# Setting type: Boolean
# Default value: false
Scaling: Linear Scaling = false

## Monsters don't gain HP when leveling up.
# Setting type: Boolean
# Default value: true
No Levelup Heal = true

## Increases Monster Level Cap.
# Setting type: Boolean
# Default value: true
Increase Monster Level Cap = true

## Maximum monster level if Increase Monster Level Cap is enabled.
# Setting type: Single
# Default value: 9999
Increase Monster Level Cap - Max Level = 9999

## Monsters that spawn with the map now give the same rewards as teleporter monsters.
# Setting type: Boolean
# Default value: true
SceneDirector Monster Rewards = true

## Teleporter Boss director credits increase by 1 Mountain Shrine every loop.
# Setting type: Boolean
# Default value: true
Loop Teleporter Boss Credits = true

## Lowers the chance of the same teleporter boss being selected within a loop.
# Setting type: Boolean
# Default value: true
No Teleporter Boss Repeat = true

Gold - Scale to Initial Stage Difficulty = false

Gold (EXPERIMENTAL) - Modded Gold Reward Scaling = false

Gold - Scale to Modded Combat Director Credit Multiplier = true

Loop Boss Armor = true

Gold (EXPERIMENTAL) - Scale to Combat Director Credit Rate = false

Gold - Scale to Combat Director Credits = true

[03. Interactables]

## Shrine of Combat drops items for the team on completion.
# Setting type: Boolean
# Default value: true
Shrine of Combat Drops Items = true

## Shrine of Blood always gives at least enough money to buy a small chest.
# Setting type: Boolean
# Default value: true
Shrine of Blood Minimum Reward = true

## Limit how many Mountain Shrines can spawn on 1 stage. Set to negative for no limit.
# Setting type: Int32
# Default value: 5
Max Shrines of the Mountain = 5

## Limit how many Combat Shrines can spawn on 1 stage. Set to negative for no limit.
# Setting type: Int32
# Default value: 3
Max Shrines of Combat = 5

## Limit how many Void Seeds can spawn on 1 stage. Vanilla is 3. Set to negative for no limit.
# Setting type: Int32
# Default value: 1
Max Void Seeds = 1

## Increase director credit cost of this interactable based on the amount of players.
# Setting type: Boolean
# Default value: true
Shrine of Combat Director Credit Scaling = true

## Increase director credit cost of this interactable based on the amount of players.
# Setting type: Boolean
# Default value: true
Shrine of the Mountain Director Credit Scaling = true

[04. Allies]

## Normalize drone damage stats so that they perform the same when using Spare Drone Parts.
# Setting type: Boolean
# Default value: true
Normalize Drone Damage = true

## Allies are immune to Void implosions.
# Setting type: Boolean
# Default value: true
No Void Death = true

## Allies take no damage from Void fog.
# Setting type: Boolean
# Default value: true
No Void Damage = true

## Allies are immune to Grandparent Overheat.
# Setting type: Boolean
# Default value: true
No Overheat = true

## Allies take less damage from superattacks like Vagrant Novas.
# Setting type: Boolean
# Default value: true
Superattack Resistance = true

## Allies take less damage from Mushrums gas and Lunar Exploder fire.
# Setting type: Boolean
# Default value: true
Damage Zone Resistance = true

## Reduces the minimum distance required for Allies to teleport to you.
# Setting type: Boolean
# Default value: true
Stricter Leashing = true

## Queens Gland Guards will not fight back if hurt by their owners.
# Setting type: Boolean
# Default value: true
Queens Gland Guards Dont Retaliate = true

## TC280s can be repaired after being destroyed.
# Setting type: Boolean
# Default value: true
TC280 - Enable Repairs = true

## Gunner Turrets can be repaired after being destroyed.
# Setting type: Boolean
# Default value: true
Gunner Turret - Enable Repairs = true

## Gunner Turrets are teleported to the player when starting the Teleporter event.
# Setting type: Boolean
# Default value: true
Gunner Turret - Teleport with Player = true

## Repairing drones is cheaper.
# Setting type: Boolean
# Default value: true
Cheaper Drone Repairs = true

## Ally HP and Damage scales so that they always perform the same on every stage.
# Setting type: Boolean
# Default value: true
Scaling Changes = true

## Most allies regen to full HP in a fixed amount of time.
# Setting type: Boolean
# Default value: true
Regen Changes = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Chill Drone = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Qb Drone = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Gradius Mod = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Starstorm 2 = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Spikestrip = true

## Enables ally changes on allies from this mod.
# Setting type: Boolean
# Default value: true
Compatibility - Tinkers Satchel = true

Spare Drone Parts Changes = true

Spare Drone Parts - Ignore Ally Cap = true

Mushrum Resistance = true

[05. Artifacts]

## Increase key drop chance and guarantee key drops after a certain amount of kills.
# Setting type: Boolean
# Default value: true
Bulwarks Ambry Tweaks = true

## Vengeance Doppelgangers are considered part of the Void Team.
# Setting type: Boolean
# Default value: true
Vengeance - Void Team = true

## Fix Vengeance Doppelgangers not leveling up.
# Setting type: Boolean
# Default value: true
Vengeance - Fix Levels = true

## Vengeance Doppelgangers receive reduced healing from percent-based healing effects.
# Setting type: Boolean
# Default value: true
Vengeance - Reduce Percent Heals = true

## Blacklist Lunars and Recycler from the Artifact of Enigma.
# Setting type: Boolean
# Default value: true
Enigma Blacklist = true

## Increases drop chance when not using Swarms and prevents drop chance from increasing as the run progresses.
# Setting type: Boolean
# Default value: true
Sacrifice - No Drop Chance Scaling = true

Reduce Vengeance Healing = true

[06. Void Fields]

## Increase radius and reduces charge duration.
# Setting type: Boolean
# Default value: true
Modify Holdout Zone = true

## Reduces Cell count from 9 to 5 and speed up enemy progression.
# Setting type: Boolean
# Default value: true
Less Cells = true

[07. Moon]

## Increase radius and reduces charge duration.
# Setting type: Boolean
# Default value: true
Modify Holdout Zone = true

## Reduce the amount of pillars required to activate the jump pads.
# Setting type: Boolean
# Default value: true
Reduce Pillar Count = true

## Pillars drop items for the team when completed.
# Setting type: Boolean
# Default value: true
Pillars Drop Items = true

## Chance for Pillars to drop Common Items.
# Setting type: Single
# Default value: 50
Pillars Drop Items - Common Chance = 50

## Chance for Pillars to drop Uncommon Items.
# Setting type: Single
# Default value: 40
Pillars Drop Items - Uncommon Chance = 40

## Chance for Pillars to drop Legendary Items.
# Setting type: Single
# Default value: 10
Pillars Drop Items - Legendary Chance = 10

## Chance for nonlegendary Pillar drops to be overwritten with a random Lunar item.
# Setting type: Single
# Default value: 0
Pillars Drop Items - Lunar Chance = 0

## Chance for nonlegendary Pillar drops to be overwritten with a Pearl.
# Setting type: Single
# Default value: 15
Pillars Drop Items - Pearl Override Chance = 15

[08. Void Locus]

## Removes Void Fog from the map.
# Setting type: Boolean
# Default value: false
Remove Fog = true

## Void Fog damage ticks at a constant rate, instead of ramping up like in Simulacrum.
# Setting type: Boolean
# Default value: true
Tweak Fog Damage = true

## Increase radius and reduces charge duration.
# Setting type: Boolean
# Default value: true
Modify Holdout Zone = true

## Void Signals drop items for the team when completed.
# Setting type: Boolean
# Default value: true
Signals Drop Items = true

## Void Signals drop Void Potentials. Overwrite chance settings.
# Setting type: Boolean
# Default value: true
Signals Drop Items - Drop Void Potential = true

## Chance for Signals to drop Common Items.
# Setting type: Single
# Default value: 45
Signals Drop Items - Common Chance = 50

## Chance for Signals to drop Uncommon Items.
# Setting type: Single
# Default value: 40
Signals Drop Items - Uncommon Chance = 40

## Chance for Signals to drop Legendary Items.
# Setting type: Single
# Default value: 5
Signals Drop Items - Legendary Chance = 10

## Chance for Signals to drop Void Items.
# Setting type: Single
# Default value: 10
Signals Drop Items - Void Chance = 10

Signals Drop Items - Lunar Chance = 0

Signals Drop Items - Overwrite with Pearl Chance = 0

[99. Misc Tweaks]

## Homing projectiles target based on angle, instead of distance + angle.
# Setting type: Boolean
# Default value: true
Better Projectile Homing = true

## Bandit/Acrid bonus damage to low hp effect now applies to procs.
# Setting type: Boolean
# Default value: true
Fix Slayer Procs = true

## Increases delay between position updates while cloaked.
# Setting type: Boolean
# Default value: true
Cloak Buff = true

## Shock is no longer interrupted by damage.
# Setting type: Boolean
# Default value: true
No Shock Interrupt = true

## Freeze counts as a debuff and can execute bosses at 15% HP.
# Setting type: Boolean
# Default value: true
Freeze Executes Bosses = true

## Replaces Voidtouched Collapse with Nullify.
# Setting type: Boolean
# Default value: true
Nerf Voidtouched = true

## Gives players health regen + armor when playing as monsters via mods.
# Setting type: Boolean
# Default value: true
Player-Controlled Monster Tweaks = true

## Items that fall out of bounds get teleported back.
# Setting type: Boolean
# Default value: true
Item Out of Bounds Teleport = true

## Void Reaver Nullify only takes 2 stacks to apply.
# Setting type: Boolean
# Default value: true
Nullify Buff = true

Player-Controlled Monster Regen = true

